* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;
  color: white;
}

.sidebar a {
  margin: 10px 15px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidebar h2,
h3 {
  margin: 10px 15px;
  color: white;
}

.sidebar a.active {
  background-color: #303030;
}

.sidebar a:hover {
  background-color: #575757;
}

.overview-container {
  margin-left: 270px;
  /* 250px for sidebar width + 20px margin */
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.overview-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.overview-container th,
.overview-container td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.overview-container th {
  background-color: #f2f2f2;
}

.overview-container tr:hover {
  background-color: #f1f1f1;
}

.bar-chart {
  margin-top: 20px;
  padding: 20px;
  background-color: transparent;
}