<!DOCTYPE html>
<html>

<head>
    <title>Messages analysis</title>
</head>

<body>
    <h1>Dashboard</h1>

    <h2>Cate</h2>
    <img src="data:image/png;base64,{{ sales_by_category }}" alt="Sales by Category">

    <h2>Mess</h2>
    <img src="data:image/png;base64,{{ customer_frequency }}" alt="Customer Purchase Frequency">

    <h2>X</h2>
    <div id="monthly-sales-chart"></div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var monthlyData = JSON.parse('{{ monthly_sales_chart | safe }}');
        Plotly.newPlot('monthly-sales-chart', monthlyData.data, monthlyData.layout);
    </script>
</body>

</html>