<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Data Analysis App</title>
</head>

<body>
    <!-- <h1>Tables</h1>
    <ul>
        {% for table in tables %}
        <li>{{ table }}</li>
        {% endfor %}
    </ul>
    <a href="/sales-analysis">Go to Sales Analysis</a> -->

    <div class="sidebar">
        <h2>Navigation</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <h3>Messages</h3>
            </li>
            <li><a href="/overview-messages">Data overview</a></li>
            <li>
                <h3>Amazon</h3>
            </li>
            <li><a href="/most-popular-products">Most popular</a></li>
        </ul>
    </div>


</body>

</html>