<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Data Analysis App</title>
</head>

<body>

    <div class="sidebar">
        <h2>Navigation</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <h3>Messages</h3>
            </li>
            <li><a href="/overview-messages">Data overview</a></li>
            <li><a href="/messages-types">Messages types</a></li>
            <li>
                <h3>Amazon</h3>
            </li>
            <li><a href="/most-popular-products">Most popular</a></li>
            <li><a href="/amazon-basic-statistics">General statistics</a></li>
        </ul>
    </div>

    <div class="overview-container">
        <h1>Message Types Distribution</h1>
        <div class="chart-container">
            <img src="data:image/png;base64,{{ chart }}" alt="Message Types Distribution">
        </div>
    </div>
</body>

</html>