<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Data Analysis App</title>
</head>

<body>
    <!-- <h1>Tables</h1>
    <ul>
        {% for table in tables %}
        <li>{{ table }}</li>
        {% endfor %}
    </ul>
    <a href="/sales-analysis">Go to Sales Analysis</a> -->

    <div class="sidebar">
        <h2>Navigation</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/overview">Data Overview</a></li>
            <li><a href="/charts">Charts</a></li>
        </ul>
    </div>
    <div class="overview-container">
        <table>
            <tr>
                <th colspan="3">Database content</th>
            </tr>
            <tr>
                <th>Entity name</th>
                <th>Records</th>
                <th>Description</th>
            </tr>
            {% for row in database_content %}
            <tr>
                <td>{{ row.entity_name }}</td>
                <td>{{ row.records }}</td>
                <td>{{ row.description }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>